:root {
    --doc-height: 100%;
    --doc-width: 100%;
    /*light colors*/
    --light-orange: #f9d793;
    --light-blue: #c5f6f6;
    --light-green: #c9eab1;
    --light-purple: #cfaed5;
    --light-pink: #fecbdf;
    /*dark colors*/
    --dark-orange: #5B3F06;
    --dark-blue: #115555;
    --dark-green: #2B4D14;
    --dark-purple: #3E2244;
    --dark-pink: #840133;
    /*fonts*/
    --normal: 'M PLUS 1 Code', monospace;
    --hand-written-1: 'Indie Flower', cursive; 
    --hand-written-2: 'Shadows Into Light', cursive;
    --block-1: 'Ojuju', sans-serif;
    --block-2: 'Josefin Sans', sans-serif;
    overflow-x: hidden;
    margin: 0;

}

* {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    background: transparent;
    font-size: 16px;
}


/*header*/

.welcome {
    background-color: var(--light-blue);
    color: var(--dark-blue);
    height: var(--doc-height);
    background-image: linear-gradient(to bottom right, var(--light-blue) 50%, var(--light-green) 50%);
    position: sticky;
    z-index: -1;
    top: 0;
    width: var(--doc-width);
    
}

nav {
    font-family: var(--block-1);
}

.nav-button {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .portfolio-nav {
    position: fixed;
    top: 1rem;
    display: inline-block;
    text-align: left;
    display: flex;
    font-family:Arial, Helvetica, sans-serif;
  }
  
  .drop-down {
    display: none;
    position: absolute;
    background-color: gray;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .drop-down a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .drop-down a:hover {background-color: black;}
  
  .portfolio-nav:hover .drop-down {display: block;}
  
  .portfolio-nav:hover .nav-button {background-color: #3e8e41;}

h1 {
    color: var(--dark-green);
    font-size: 5rem;
    text-align: right;
    position: relative;
    top: 20vh;
    right: 3vw;
    width: var(--doc-width);
    height: var(--doc-height);
    font-family: var(--hand-written-2);
}

#im {
    font-size: 6rem;
    font-family: var(--block-1);
    line-height: 0.75;
}

#zephyr {
    font-size: 8rem;
    font-family: var(--block-2);
    line-height: 1;
}

#goose {
    font-size: 16rem;
    font-family: var(--hand-written-1);
    line-height: 0.75;
}

/*main*/

main {
    width: var(--doc-width);
    z-index: 1;
}

article {
    transform: translateX(400%) rotate(3turn);
    transition: transform 0.4s ease;
}


.show {
    transform: translateX(0%);
}

h2 {
    margin-top: 0;
    padding-top: 1.5rem;
    font-size: 3rem;
    font-family: var(--hand-written-1);
    text-align: center;
}


#about {
    background-color: var(--light-orange);
    color: var(--dark-orange);
    height: var(--doc-height) / 2;
    z-index: 1;
}

#about article {
    display: flex;
    
}

#about p {
    width: 40%;
    position: relative;
    left: 25%;
    font-family: var(--normal);
    font-size: 1.5rem;
    padding-bottom: 2rem;
}

#about figure {
    width: 15%;
    position: relative;
    left: 28%;
    top: -20%;
}

#about img {
    border: 1rem dotted var(--light-purple);
    border-radius: 50%;
    padding: 0.25rem;
    width: 100%;

}

/*about is good until tablet*/

#certifications {
    background-color: var(--light-purple);
    color: var(--dark-purple);
    height: var(--doc-height) / 2;
}

#credentials-block {
    width: 70%;
    height: 60%;
    display: flex;
    margin: 0 auto;
}

#credentials-block div {
    width: 33%;
    border: 0.5rem dashed var(--light-pink);
    margin: 1rem;
    text-align: left;
    padding-left: 2rem;
    padding-bottom: 1rem;
}

#credentials-block h3 {
    font-size: 2rem;
    font-family: var(--block-1);
    padding: 1rem;
}

#credentials-block ul {
    list-style-type: circle;
}

#credentials-block li {
    font-size: 1rem;
    font-family: var(--normal);
    line-height: 1.5rem;
}

/*Certifications is good until tablet*/

#projects {
    background-color: var(--light-pink);
    color: var(--dark-pink);
    height: var(--doc-height) * 0.75;
}

#projects h2 {
    font-size: 5rem;
}

#projects ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 5rem;
    height: 75%;
}

#projects ul li {
    width: 33%;
    font-size: 2rem;
    text-align: center;
    border: 1rem inset var(--light-orange);
    background-color: var(--dark-orange);
    color: var(--light-orange);
}

#projects ul li a {
    font-size: 2rem;
    color: var(--light-orange);
}

#projects ul li a:visited {
    color: var(--light-orange)
}

video {
    width: 100%;
}

/*Projects is good until mobile*/

footer {
    background-color: var(--light-blue);
    color: var(--dark-green);
    height: var(--doc-height) / 2;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    font-family: var(--block-2);
}

footer h2 {
    padding-bottom: 1rem;
}

footer section {
    width: 40%;
    border: 1rem dashed var(--light-blue);
    background-color: var(--light-green);
    margin: 1rem 0;
}

footer section h3 {
    font-size: 2rem;
}

.fa-brands {
    font-size: 3rem;
    margin:  1rem 2rem;
    color: var(--dark-green);
}

.fa-brands:hover {
    color: white;
}

.fa-brands:visited {
    color: var(--dark-green);
}

#resume a {
    justify-self: center;
}

#resume-thumbnail {
    width: 15rem;
    height: 8rem;
    object-fit: cover;
    object-position: 100% 0;
    border: 0.2rem inset var(--light-blue)
}


figcaption {
    margin-top: 0.5rem;
    color: var(--dark-green);
    font-size: 1.5rem;
    font-weight: bold;
}

figcaption:hover {
    color: white;
}

figcaption:visited {
    color: var(--dark-green);
}

/*footer needs to change right and the end of laptop*/

@media only screen and (max-width: 1024px) {
    #about {
        font-size: 1rem;
    }

    #certifications h3 {
        font-size: 1.5rem;
    }

    #credentials-block {
        width: auto;
    }
    #projects div{
        box-sizing: border-box;
        padding: 0.5rem;
        align-self: space-evenly;
    }
    #projects ul li a {
        font-size: 1.5rem;
    }

    footer h2{
        padding-bottom: 0.5rem;
    }

    footer section h3{
        font-size: 1.5rem;
    }

    footer figure {
        padding-bottom: 0.5rem;
    }
}

@media only screen and (max-width: 650px) {
    #about {
        font-size: 1rem;
        height: var(--doc-height) * 2;
    }

    #about article {
        flex-direction: column;
        align-items: center;
    }

    #about p {
        width: 80%;
        left: 5%;
        padding-bottom: 1rem;
    }

    #about figure {
        top: 0;
        left: 0;
        width: 25%;
    }

    #about img {
        border: 0.5rem dotted var(--light-purple);
    }

    #credentials {
        height: var(--doc-height);
    }

    #credentials-block {
        flex-direction: column;
        align-items: center;
    }

    #credentials-block div {
        width: 80%;
    }

    #projects h2 {
        font-size: 3rem;
    }

    #projects article {
        height: 100%;
    }

    #projects ul{
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;
        padding-bottom: 0;
    }

    #projects ul li {
        width: 80%;
        margin: 5%;
    }

    footer {
        flex-direction: column;
        align-items: center;
    }

    footer section {
        width: 80%;
    }

    footer section h3 span::after{
        content: "\a";
        white-space: pre;
    }

    footer figure {
        width: 80%;
        margin: 0 auto;
    }

    #resume-thumbnail {
        width: 80%;
    }
}