:root {
    --light-orange: #f9d793;
    --light-blue: #c5f6f6;
    --light-green: #c9eab1;
    --light-purple: #cfaed5;
    --light-pink: #fecbdf;
    /*dark colors*/
    --dark-orange: #5B3F06;
    --dark-blue: #115555;
    --dark-green: #2B4D14;
    --dark-purple: #3E2244;
    --dark-pink: #840133;

}

header {
    background-color: var(--light-blue);
    color: var(--dark-blue);
    height: 100vh;
}

nav {
    background-color: var(--light-orange);
    color: var(--dark-orange);
}

h1 {
    color: var(--dark-green);
    background-color: var(--light-green);
}

img {
    width: 15%;
}

#about {
    background-color: var(--light-orange);
}

#certifications {
    background-color: var(--light-purple);
}

#projects {
    background-color: var(--light-pink);
}

footer {
    background-color: var(--light-green);
}
/*orange purple pink green*/